# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environments
env/
reqtrace-env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Log files
*.log

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db

# Byte-compiled / optimized / DLL files
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
wheels/
develop-eggs/
.installed.cfg
*.egg-info/
.Python

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# pyenv
.python-version

# mypy
.mypy_cache/

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
